//- +cClipPathSvg({
//-   id: 'clipPathFrameImage',
//-   width: 707.999,
//-   height: 810,
//- })
//-   path(d='M733.549,1803H1280.42c66.45,0,46.38,63.47,84.27,97.39,25.65,22.97,58.34,23.31,58.34,111.31v582.76a18.531,18.531,0,0,1-18.52,18.55H854.933c-56.833,0-61.775-44.42-76.861-70.49-18.709-32.34-62.044-22.85-62.044-86.27l-1-634.7A18.539,18.539,0,0,1,733.549,1803Z' transform='translate(-715.031 -1803)')
