extends /layouts/default

append variables
  - const ID = 'pParts'
  - const TITLE = 'パーツ一覧'

append style
  //- +stylePage('/assets/css/_parts.css')

append scripts
  //- +scriptPage('/assets/js/_parts.js')

append contents
  | パーツ一覧

append fixedLocal
