$component: ".cHeader";

#{$component} {
  &-inner {
    @include media-pc {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: size-variable-pc(738);
      margin: auto;
      padding-top: size-variable-pc(58);
    }
    @include media-sp {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: size-variable-sp(730);
      margin: auto;
      padding-top: size-variable-sp(50);
    }
  }
  &-logo {
    display: block;
    @include media-pc {
      width: size-variable-pc(34);
    }
    @include media-sp {
      width: size-variable-sp(70);
    }
    &-svg {
      width: 100%;
      height: auto;
      color: #757575;
    }
  }
  &-settings {
    display: flex;
  }
  &-selectbox {
    position: relative;
    display: flex;
    align-items: center;
    border-right: 1px solid #979797;
    appearance: none;
    @include media-pc {
      padding-right: size-variable-pc(20);
    }
    @include media-sp {
      padding-right: size-variable-sp(20);
    }
    &-select {
      appearance: none;
      height: 100%;
      @include font-en-bold();
      @include media-pc {
        width: size-variable-pc(150);
        padding: size-variable-pc(10) size-variable-pc(20) size-variable-pc(10)
          size-variable-pc(20);
        @include font-size-variable-pc(18);
        border-radius: size-variable-pc(5);
      }
      @include media-sp {
        width: size-variable-sp(200);
        padding: size-variable-sp(10) size-variable-sp(50) size-variable-sp(10)
          size-variable-sp(20);
        @include font-size-variable-sp(18);
        border-radius: size-variable-sp(10);
      }
      &:focus {
        outline: 1px solid #a445ed;
      }
      &-option {
        background-color: white;
      }
    }
    &-arrow {
      position: absolute;
      transform: translateY(-50%);
      top: 50%;
      color: #a445ed;
      @include media-pc {
        width: size-variable-pc(12);
        right: size-variable-pc(33);
      }
      @include media-sp {
        width: size-variable-sp(32);
        right: size-variable-sp(34);
      }
    }
    &-svg {
      width: 100%;
      height: auto;
    }
  }
  &-darkmode {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include media-pc {
      width: size-variable-pc(80);
      margin-left: size-variable-pc(30);
    }
    @include media-sp {
      width: size-variable-sp(150);
      margin-left: size-variable-sp(34);
    }
    &-button {
      @include media-pc {
        width: size-variable-pc(50);
        height: size-variable-pc(26);
      }
      @include media-sp {
        width: size-variable-sp(90);
        height: size-variable-sp(44);
      }
    }
    &-input {
      display: none;
      &[type="checkbox"] {
        position: absolute;
        visibility: hidden;
        &:checked {
          + #{$component}-darkmode-label {
            &::before {
              background: #a445ed;
            }
            &::after {
              content: "";
              @include media-pc {
                right: size-variable-pc(5);
              }
              @include media-sp {
                right: size-variable-sp(8);
              }
            }
          }
        }
      }
    }
    &-label {
      position: relative;
      display: block;
      width: 100%;
      height: 100%;
      cursor: pointer;
      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: #757575;
        @include media-pc {
          border-radius: size-variable-pc(30);
        }
        @include media-sp {
          border-radius: size-variable-sp(30);
        }
      }
      &::after {
        content: "";
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        transition: background 0.2s ease-out, right 0.2s ease-out;
        border-radius: 50%;
        background: white;
        @include media-pc {
          right: size-variable-pc(27);
          width: size-variable-pc(18);
          height: size-variable-pc(18);
        }
        @include media-sp {
          right: size-variable-sp(52);
          width: size-variable-sp(30);
          height: size-variable-sp(30);
        }
      }
    }
    &-icon {
      position: relative;
      @include media-pc {
        width: size-variable-pc(25);
        height: size-variable-pc(25);
      }
      @include media-sp {
        width: size-variable-sp(40);
        height: size-variable-sp(40);
      }
    }
    &-moon {
      position: absolute;
      top: 0;
      left: 0;
      color: #a445ed;
      opacity: 1;
      transition: opacity 0.2s ease-out;
      @include media-pc {
        width: size-variable-pc(25);
        height: size-variable-pc(25);
      }
      @include media-sp {
        width: size-variable-sp(40);
        height: size-variable-sp(40);
      }
      .-light & {
        opacity: 0;
        transition: opacity 0.2s ease-out;
      }
    }
    &-sun {
      position: absolute;
      top: 0;
      left: 0;
      color: #757575;
      opacity: 1;
      transition: opacity 0.2s ease-out;
      @include media-pc {
        width: size-variable-pc(25);
        height: size-variable-pc(25);
      }
      @include media-sp {
        width: size-variable-sp(40);
        height: size-variable-sp(40);
      }
      .-dark & {
        opacity: 0;
        transition: opacity 0.2s ease-out;
      }
    }
  }
}
