- const SITE_NAME = ''
- const SITE_OG_IMAGE = ROOT_PATH + getFullPath('/assets/img/common/ogp.png')
- const SITE_APPLE_TOUCH_ICON = getFullPath('/assets/img/common/apple-touch-icon.png')
//- - const IS_GA_SEND_PAGE_VIEW_MANUAL = false
- let LANG = 'ja'
- const CACHE_VERSION = '' // '?v=1'

-
  //- https://polyfill.io/v3/url-builder/ の一覧にあるものを追加
  const POLYFILLS = [
    //- 'Object.assign',
    //- 'Element.prototype.append',
    //- 'NodeList.prototype.forEach',
    //- 'CustomEvent',
    //- 'smoothscroll',
    //- 'fetch',
    //- 'Promise',
    //- 'Element.prototype.prepend',
    //- 'DocumentFragment.prototype.append',
    //- 'String.prototype.startsWith',
    //- 'IntersectionObserver',
    //- 'ResizeObserver',
    //- 'Element.prototype.remove',
    //- 'URL',
    //- 'URLSearchParams',
    //- 'HTMLTemplateElement',
  ]
