mixin cFooter(option = {})
  footer.cFooter(
    data-scroll
    data-scroll-call="footer"
    data-scroll-repeat
  )&attributes(attributes)
    p footer

    div: a.cFooter-pagetop(href="#top") Page Top
