mixin cHeader(option = {})
  header.cHeader(data-el)&attributes(attributes)
    a.cHeader-link(href=getFullPath("/") data-anchor-offset)
      #{ID === 'pIndex' ? 'h1' : 'p'}.cHeader-logo
        | header

    a.cHeader-menu(data-modal-trigger="menu" data-router-disabled)
      p MENU
